<footer class="footer">
  <hr>
  <p>© 2025 Antonio Olivas-Martinez</p>
  <p>Postdoctoral Researcher at the Center for Causal Inference, UPenn</p>
  <div class="footer-icons">
    <a href="https://www.linkedin.com/in/antonio-olivas-martinez-490236198/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.researchgate.net/profile/Antonio-Olivas-Martinez" target="_blank"><i class="fab fa-fw fa-researchgate"></i></a>
    <a href="https://twitter.com/antonio_olivasm" target="_blank"><i class="fab fa-twitter-square"></i></a>
    <a href="https://github.com/aolivasm" target="_blank"><i class="fab fa-github"></i></a>
  </div>
</footer>
