<footer class="footer">
  <div class="footer-links">
    <p>© 2025 Antonio Olivas-Martinez</p>
    <p>
      <a href="https://www.linkedin.com/in/antonio-olivas-martinez-490236198/" target="_blank">LinkedIn</a> |
      <a href="https://www.researchgate.net/profile/Antonio-Olivas-Martinez" target="_blank">ResearchGate</a> |
      <a href="https://twitter.com/antonio_olivasm" target="_blank">Twitter</a> |
      <a href="https://github.com/aolivasm" target="_blank">GitHub</a>
    </p>
    <p>"Postdoctoral Researcher at the Center for Causal Inference, UPenn"</p>
  </div>
</footer>
